body {
    width: 1440px;
    height: 4952px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 1439px;
    height: 799px;
    left: 1px;
    top: 0px;
}

nav {
    position: relative;
    width: 1439px;
    height: 830px;
    left: 1px;
    top: 0px;

}

aside {
    position: relative;
    width: 1440px;
    height: 641px;
    left: 1px;
    top: 0px;
}

article {
    position: relative;
    width: 1440px;
    height: 750px;
    left: 1px;
    top: 0px;
    border: none;

}

#boxViDeo {
    position: relative;
    width: 1440px;
    height: 650px;
    left: 1px;
    top: 0px;
    border: none;

}

#BoxTinTuc {
    position: relative;
    width: 1440px;
    height: 950px;
    left: 1px;
    top: 0px;
    border: none;
}


#imgHeader {

    position: absolute;
    width: 1439px;
    height: 799px;
    left: 1px;
    top: 0px;

}
#SP {
    /* SẢN PHẨM */

position: absolute;
width: 84px;
height: 18px;
left: 1097px;
top: 21px;

text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;

/* Background */
color: #FFFFFF;

}

#txtLD{
/* CHƯƠNG TRÌNH OCOP */

position: absolute;
width: 167px;
height: 18px;
left: 1211px;
top: 21px;

text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;

/* Background */
color: #FFFFFF;

}

#icon5{
    /* Vector */
    position: absolute;
    right: 32px;
    top: 22px;

}

#Logo {
    /* LOGO 1 */

    position: absolute;
    width: 100px;
    height: 32.34px;
    left: 19px;
    top: 14px;

}

h2 {
    /* Headline */

    position: absolute;
    width: 726px;
    height: 153px;
    left: 357px;
    top: 267px;

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 51px;
    /* or 127% */
    text-align: center;

    /* Background */
    color: #FFFFFF;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

}

#btTH {
    /* Rectangle 264 */

    position: absolute;
    width: 310px;
    height: 45px;
    left: 205px;
    top: 159px;

font-family: 'Segoe UI';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

text-align: center;
color: #FFFFFF;


    background: #12929A;
    border-radius: 10px;

}

#TieuDe {
    /* Giới thiệu về chương trình OCOP */

    position: absolute;
    width: 392px;
    height: 98px;
    left: 165px;
    top: 100px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    /* or 122% */

    /* title text */
    color: #032729;

}

#img1 {
    /* Rectangle 308 */

    position: absolute;
    width: 475px;
    height: 397px;
    left: 165px;
    top: 283px;

    background: url(TƯ2.jpg);
    border-radius: 10px;

}

#link {
    position: absolute;
    width: 179.76px;
    height: 34px;
    left: 165px;
    top: 239px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 52px;
    /* or 289% */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    /* Green tea */

    color: #12929A;
}

#Khainiem {
    /* Khái niệm */

    position: absolute;
    width: 86px;
    height: 35px;
    left: 735px;
    top: 130px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    /* identical to box height, or 194% */

    /* Green tea */
    color: #12929A;

}

.Khainiem {

    position: absolute;
    width: 540px;
    height: 100px;
    left: 735px;
    top: 164px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;

    /* Text */
    color: #6B726B;
}

#TrongTam {
    /* Trọng tâm */

    position: absolute;
    width: 99px;
    height: 21px;
    left: 735px;
    top: 314px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */

    /* Green tea */
    color: #12929A;

}

.TrongTam {
    /* Trọng tâm Chương trình OCOP tại Việt Nam là phát triển sản phẩm nông nghiệp, phi nông nghiệp và dịch vụ có lợi thế ở mỗi địa phương theo chuỗi giá trị, gắn với các chủ thể tham gia Chương trình là các thành phần kinh tế tập thể (Hợp tác xã, tổ hợp tác) và kinh tế tư nhân (doanh nghiệp, hộ sản xuất) */

    position: absolute;
    width: 540px;
    height: 125px;
    left: 735px;
    top: 343px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;

    /* Text */
    color: #6B726B;

}

#VaiTro {
    /* Vai trò nhà nước */

    position: absolute;
    width: 200pxpx;
    height: 21px;
    left: 735px;
    top: 516px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */

    /* Green tea */
    color: #12929A;

}

.VaiTro {
    /* Nhà nước đóng vai trò kiến tạo, ban hành khung pháp lý và chính sách để thực hiện định uowngsg phát triển trục sản phẩm đặc sản địa phương, các vùng sản xuất hàng hóa, dịch vụ; quản lý và giám sát tiêu chuẩn chất lượng sản phẩm; hỗ trợ các khâu: đào tạo, tập huấn, hướng dẫn kỹ thuật, ứng dụng khoa học công nghệ, hỗ trợ tín dụng, xây dựng thương hiệu, xúc tiến thương mại và quảng bá sản phẩm. */

    position: absolute;
    width: 540px;
    height: 150px;
    left: 735px;
    top: 545px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;

    /* Text */
    color: #6B726B;

}

#img2 {
    /* crowd-tea-picker-picking-tea-leaf-plantation-chiang-rai-thailand 1 */

    position: absolute;
    width: 1441px;
    height: 641px;
    left: -1px;
    top: 0px;
}

#shadow {
    /* Rectangle 330 */

    position: absolute;
    width: 1440px;
    height: 641px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, rgba(24, 159, 168, 0.47) 0%, rgba(18, 146, 154, 0.47) 100%);
    mix-blend-mode: multiply;

}

#boxThanhTuu {
    /* Rectangle 331 */

    position: absolute;
    width: 600px;
    height: 219px;
    left: 420px;
    top: 64px;
    bottom: 318px;

    background: rgba(2, 32, 5, 0.49);
    border-radius: 22px;

}

#ThanhTuu {
    /* Company achievements */

    position: absolute;
    left: 65px;
    bottom: 115px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    /* or 127% */

    /* White */
    color: #FFFFFF;


}

.ThanhTuu {
    /* This is only a small */

    position: absolute;
    left: 28px;
    right: 30px;
    top: 73px;


    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: center;

    /* White */
    color: #FFFFFF;

}

.box {
    background: #FFFFFF;
    /* #12929A */
    border: 2px solid rgba(18, 146, 154, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17);
    border-radius: 10px;

}

#box1 {
    /* Rectangle 303 */

    position: absolute;
    width: 255px;
    height: 173px;
    left: 165px;
    top: 360px;
}

#box2 {
    /* Rectangle 303 */

    position: absolute;
    width: 255px;
    height: 173px;
    left: 450px;
    top: 360px;
}

#box3 {
    /* Rectangle 303 */

    position: absolute;
    width: 255px;
    height: 173px;
    left: 735px;
    top: 360px;
}

#box4 {
    /* Rectangle 303 */

    position: absolute;
    width: 255px;
    height: 173px;
    right: 165px;
    top: 360px;
}

.elip {

    background: #FFFFFF;
    /* #12929A */
    border: 2px solid rgba(18, 146, 154, 0.25);
    box-sizing: border-box;
    border-radius: 50%;

}

#elip1 {
    /* Ellipse 14 */

    position: absolute;
    width: 120px;
    height: 120px;
    left: 233px;
    top: 300px;
}

#elip2 {
    /* Ellipse 14 */

    position: absolute;
    width: 120px;
    height: 120px;
    left: 518px;
    top: 300px;
}

#elip3 {
    /* Ellipse 14 */

    position: absolute;
    width: 120px;
    height: 120px;
    left: 803px;
    top: 300px;
}

#elip4 {
    /* Ellipse 14 */

    position: absolute;
    width: 120px;
    height: 120px;
    right: 233px;
    top: 300px;
}

.icon {
    position: absolute;
    width: 69px;
    height: 72px;
    top: 29px;
    left: 25px;
}

.SoLieu {
    /* 2500+ */

    position: absolute;
    height: 54px;
    width: 109px;
    left: 73px;
    top: calc(50% - 54px/2);

    text-align: center;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    /* or 89% */

    /* Green tea */
    color: #12929A;

}

.ChuThich {
    /* Clients */

    position: absolute;
    width: 207px;
    height: 28px;
    left: 24px;
    top: 123px;

    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* Text */
    color: #6B726B;

}

#txtSP {
    /* Sản phẩm nổi bật */

    position: absolute;
    width: 358px;
    height: 68px;
    left: 541px;
    top: 37px;

    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    text-align: center;

    /* title text */
    color: #032729;

}

#boxSP {
    /* 58 1 */

    position: absolute;
    width: 730px;
    height: 403px;
    left: 545px;
    top: 221px;

    background: url(58.jpg);
    border-radius: 10px;

}

.box11 {
    /* Rectangle 281 */
    position: absolute;
    width: 305px;
    height: 120px;

    background: #12929A;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.boxIN {
    /* Rectangle 281 */

    position: absolute;
    width: 301px;
    height: 120px;
    left: 4px;
    top: 0px;

    background: #F4F4F4;
    border-radius: 10px;

}

#box11 {

    left: 170px;
    bottom: 409px;
}

#box22 {

    left: 170px;
    bottom: 273px;
}

#box33 {

    left: 170px;
    bottom: 137px;
}

#box44 {

    left: 170px;
    bottom: 1px;
}

#txtShanTuyet {
    /* Trà shan tuyết */

    position: absolute;
    width: 137px;
    height: 21px;
    left: 549px;
    bottom: 69px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */

    /* title text */
    color: #032729;

}

#txtChiTiet {
    /* Cây trà shan tuyết cổ thụ rất lớn , có khi vài người lớn vòng tay ôm. Mọc ở trên núi cao hơn 1200m , quanh năm mây mù và lạnh. Sự chênh lệch nhiệt độ giữa ngày và đêm là rất lớn, chính bởi có điều kiện tự nhiên thú vị như vậy nên đó là nét độc đáo tạo ra một hương vị trà shan tuyết thơm ngon */

    position: absolute;
    width: 726px;
    height: 75px;
    left: 549px;
    top: 663px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */

    /* Text */
    color: #6B726B;

}

.SP {
    /* Tin Box 1 */

    position: absolute;
    width: 89px;
    height: 78px;
    left: 9.2px;
    top: 31px;
}

.txtSP1 {
    /* Trà shan tuyết */

    position: absolute;
    width: 137px;
    height: 21px;
    left: 107px;
    top: 19px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */

    /* title text */
    color: #032729;

}

.vector {
    /* Vector */

    position: absolute;
    width: 16px;
    height: 15.4px;
    left: 107.2px;
    bottom: 33px;

}

.vector1 {
    /* Vector */

    position: absolute;
    width: 16px;
    height: 15.4px;
    left: 131.2px;
    bottom: 33px;

}

.vector2 {
    /* Vector */

    position: absolute;
    width: 16px;
    height: 15.4px;
    left: 155.2px;
    bottom: 33px;

}

.vector3 {
    /* Vector */

    position: absolute;
    width: 16px;
    height: 15.4px;
    left: 179.2px;
    bottom: 33px;

}

.vector4 {
    /* Vector */

    position: absolute;
    width: 16px;
    height: 15.4px;
    left: 203.2px;
    bottom: 33px;

}

h4 {
    /* Hình ảnh - video */

    position: absolute;
    width: 328px;
    height: 68px;
    left: 556px;
    top: 70px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    text-align: center;

    /* title text */
    color: #032729;

}

#video {
    /* Screen Shot 2020-11-11 at 15.24 1 */

    position: absolute;
    width: 539px;
    height: 302px;
    left: 166px;
    bottom: 100px;
    background-color: aqua;

}

#anh1 {
    /* Rectangle 238 */

    position: absolute;
    width: 259px;
    height: 143px;
    left: 745px;
    bottom: 256px;
    border-radius: 10px;

}

#anh2 {
    /* Rectangle 238 */

    position: absolute;
    width: 259px;
    height: 143px;
    right: 165px;
    bottom: 256px;
    border-radius: 10px;

}

#anh3 {
    /* Rectangle 238 */

    position: absolute;
    width: 259px;
    height: 143px;
    left: 745px;
    bottom: 88px;
    border-radius: 10px;

}

#anh4 {
    /* Rectangle 238 */

    position: absolute;
    width: 259px;
    height: 143px;
    right: 165px;
    bottom: 88px;
    border-radius: 10px;

}

.btnext {
    /* Arrow */

    position: absolute;
    width: 7.88px;
    height: 0px;
    left: 750px;
    bottom: 0px;

    /* Colors/LightGrey */
    border: 1px solid #F4F4ED;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

#txtTinTuc {
    /* Company achievements */

    position: absolute;
    height: 69px;
    width: 405px;
    left: 519px;
    right: 516px;
    top: 10px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    /* or 140% */
    text-align: center;

    /* title text */
    color: #032729;

}

.DoBong {
    /* Rectangle 260 */

    position: absolute;
    width: 350px;
    height: 363px;

    /* Green tea */
    background: #12929A;
    border-radius: 10px;

}

#DoBong1 {
    left: 165px;
    top: 200px;
}

#DoBong2 {
    left: 546px;
    top: 200px;
}

#DoBong3 {
    right: 165px;
    top: 200px;
}

.TinTuc {
    /* Rectangle 282 */

    position: absolute;
    width: 350px;
    height: 359px;
    left: 0px;
    top: 4px;

    background: #F7F7F7;
    border-radius: 10px;

}


.anhTT {
    /* Rectangle 261 */

    position: absolute;
    width: 308px;
    height: 157px;
    right: 21px;
    top: 25px;

    border-radius: 10px;

}

.txtTin {
    /* Tony Lopez */

    position: absolute;
    left: 21px;
    right: 21px;
    bottom: 109px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* title text */
    color: #032729;

}

.txtTin2 {
    /* Our business connect */

    position: absolute;
    left: 21px;
    right: 21px;
    bottom: 37px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    /* Text */
    color: #6B726B;

}

.LinkDocThem {
    /* Our business connect */

    position: absolute;
    left: 21px;
    bottom: 16px;

    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    /* Main / Blue - Hover */
    color: #0058E3;

}

.btTin {
    position: absolute;
    width: 304px;
    height: 59px;
    left: 564px;
    bottom: 30%;

}

.hehe {
    /* Ellipse */

    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgba(83, 82, 82, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

#hehe2 {
    right: 0px;
}

.OCOP {
    /* Vector */
    position: absolute;
    width: 279px;
    height: 280px;
    top: 78%;

}

#O1 {
    left: 165px;
}

#O2 {
    left: 460px;
    width: 268px;
    height: 281px;
}

#O3 {
    left: 742px;
}

#O4 {
    width: 219px;
    height: 282px;
    left: 1057px;
}



#Logoo {
    /* LOGO 1 */

    position: absolute;
    width: 144px;
    height: 47px;
    left: 225px;
    top: 89px;

}

#txtFter {
    /* VĂN PHÒNG ĐIỀU PHỐI NÔNG THÔN MỚI TRUNG ƯƠNG */

    position: absolute;
    width: 299px;
    height: 48px;
    left: 145px;
    top: 157px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;

    /* White */
    color: #FFFFFF;

}

.txtFT {
    /* Thông tin liên hệ */

    position: absolute;
    width: 194px;
    height: 56px;
    top: 46px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 56px;
    /* identical to box height, or 215% */

    /* White */
    color: #FFFFFF;

}

#txtFT1 {
    right: 642px;
}

#txtFT2 {
    right: 249px;
}

#imgfooter {
    /* basic / phone */
    position: absolute;
    width: 14px;
    height: 18px;
    top: 140px;
    left: 644px;
    /* White */

}




.cuoi {
    position: relative;
    width: 1440px;
    height: 359px;
    top: 0px;

    /* Green tea */

    background: #12929A;
}

/* Background */
.logo2 {
    position: absolute;
    width: 144px;
    height: 47px;
    top: 80px;
    left: 160px;
}

.VanPhong {
    position: absolute;
    width: 299px;
    height: 48px;
    top: 120px;
    left: 90px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* White */

    color: #FFFFFF;
}

.banquyen {
    position: absolute;
    width: 359px;
    height: 28px;
    left: 90px;
    bottom: 9px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    /* identical to box height, or 215% */


    color: #FFFFFF;
}

.designed {
    position: absolute;
    width: 185px;
    height: 28px;
    bottom: 9px;
    right: 53px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    /* identical to box height, or 215% */

    text-align: right;

    color: #FFFFFF;
}

.thongtin {
    position: absolute;
    width: 209px;
    height: 56px;
    left: 550px;
    top: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    /* identical to box height, or 215% */


    /* White */

    color: #FFFFFF;
}

.diachi {
    position: absolute;
    width: 250px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */
    left: 550px;
    top: 120px;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* grey 1 */

    color: #EAEAEA;
}

.sdt1 {
    position: absolute;
    width: 160px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    left: 550px;
    top: 150px;
    /* identical to box height, or 150% */


    /* grey 1 */

    color: #EAEAEA;
}

.sdt2 {
    position: absolute;
    width: 141px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    left: 550px;
    top: 180px;

    /* grey 1 */

    color: #EAEAEA;
}

.link {
    position: absolute;
    width: 141px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    left: 550px;
    top: 210px;

    /* grey 1 */

    color: #EAEAEA;
}

.logomap {
    position: absolute;
    height: 18px;
    width: 14px;
    left: 510px;
    top: 138px;

    /* White */

}

.phone {
    position: absolute;
    width: 19.1px;
    height: 19.1px;
    left: 509px;
    top: 167px;

    /* White */

}

.mail {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 509px;
    top: 200px;

    /* White */

}

.gobal {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 507px;
    top: 227px;

    /* White */

}

.lienketnhanh {
    position: absolute;
    width: 200px;
    height: 56px;
    left: 900px;
    top: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 56px;
    /* identical to box height, or 215% */


    /* White */

    color: #FFFFFF;
}

.bonongnghiep {
    position: absolute;
    width: 230px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */
    left: 900px;
    top: 120px;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* grey 1 */

    color: #EAEAEA;
}

.chuongtrinhocop {
    position: absolute;
    width: 160px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    left: 900px;
    top: 150px;
    /* identical to box height, or 150% */


    /* grey 1 */

    color: #EAEAEA;
}

.nongthonmoi {
    position: absolute;
    width: 141px;
    height: 24px;

    /* Product - H5 ∙ 16|24 / Regular */

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    left: 900px;
    top: 180px;

    /* grey 1 */

    color: #EAEAEA;
}

hr {
    position: absolute;
    top: 300px;
    left: 90px;
    border: 1px solid #032729;
}

.gachchan {

    position: absolute;
    width: 1px;
    height: 989px;
    left: 260px;
    top: 44px;

    /* #12929A */

    background: rgba(18, 146, 154, 0.25);
}